.daily-cards-section {
  height: 95vh;
  padding: 30px;
}

.daily-cards-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding: 1rem;
}

.daily-cards__subtitle {
  font-size: 1.2rem;
  margin-left: 5rem;
  color: #b0b0c0;
}

@media (max-width: 900px) {
  .daily-cards-section {
    height: auto;
  }

  .daily-cards-grid {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .daily-cards__subtitle {
    margin: 15px;
    text-align: center;
  }
}
