.daily-card {
  background: var(--background-color-darker);
  border-radius: 12px;
  padding: 16px 18px;
  width: 400px;
  color: var(--text-color-primary);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.daily-card__date {
  margin: 0 0 15px;
  font-size: 1.6rem;
  font-weight: 600;
}

.daily-card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.daily-card__item {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  opacity: 0.9;
}

.daily-card__fuel {
  opacity: 0.85;
}

.daily-card__perc {
  font-weight: 600;
  font-style: italic;
}

.daily-card__clean {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.9;
}

.daily-card__footer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
