.hero {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: var(--text-color-primary);
}

.hero__content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 0 20px;
}

.hero__title {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #f5f5f5;
  transition: color 0.3s ease;
}

.hero__title:hover {
  color: #decaff;
}

.hero__subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #b0b0c0;
}
