.title {
  font-size: 3rem;
  margin: 5rem;
  font-weight: bold;
  color: var(--text-color-primary);
}

@media (max-width: 900px) {
  .title {
    font-size: 2.2rem;
    margin: 2rem;
    text-align: center;
  }
}
