:root {
  --font-primary: "Quantico", sans-serif;
  --background-gradient: linear-gradient(
    30deg,
    #0f0c29 0%,
    #302b63 50%,
    #24243e 100%
  );
  --background-color-lighter: #1e2233;
  --background-color-darker: #0a0e1c;
  --button-color: #9b59ff;
  --button-hover-color: #7d3cff;
  --text-color-primary: #f5f5f5;
  --text-color-secondary: #b0b0c0;

  font-family: var(--font-primary);
}

body,
html,
#root {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background: var(--background-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
